/* Root variables for theme colors */
:root {
    --primary: #333;
    --primaryText: #fff;
    --secondary: #828282;
    --tertiary: #505050;
    --workspace: #f0f0f0;
    --workspaceHover: #c7c7c7;
    --workspaceSelectedTab: #ff9b00;
    --coreColour: #ff7925;
    --selectedCoreColour: #ff5107;
    --branchColour: #256bff;
    --selectedBranchColour: #0b3cff;
}

/* Global styles */
body {
    margin: 0;
    font-family: sans-serif;
}

/* Canvas container styles */
.canvas {
    display: flex;
    height: 100vh;
}

/* Sidebar styles */
.Sidebar {
    background-color: var(--primary);
    color: #fff;
    width: 20%;
    padding: 10px;
    z-index: 2;
}

/* Title section styles */
.TitleSection {
    margin-bottom: 20px;
    border-bottom: 2px solid var(--secondary);
}

.TitleSection h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

.TitleSection h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

/* Title navigation section styles */
.TitleNavSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--tertiary);
    border-radius: 10px;
    padding: 5px;
    white-space: nowrap;
}

.TitleNavSection .dropdown {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 10px;
}

.TitleNavSection .dropdown span {
    color: #fff;
    margin-right: 10px;
    font-weight: bold;
}

.TitleNavSection .dropdown select {
    background-color: var(--tertiary);
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.TitleNavSection select optgroup {
    color: #fff;
    font-weight: bold;
}

.TitleNavSection select option {
    background-color: #fff;
    color: #000;
}

.TitleNavSection ul {
    list-style: none;
    padding: 0;
}

.TitleNavSection li {
    display: inline;
    margin-right: 15px;
}

/* Tab selection section styles */
.TabSelectSection .Tabs {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
}

.TabSelectSection .Tabs li {
    display: inline;
    margin-right: 15px;
}

.TabSelectSection .Tabs a {
    color: #fff;
    text-decoration: none;
}

.Tabs {
    display: flex;
    justify-content: space-between;
    background-color: var(--tertiary);
    border-radius: 10px;
}

.Tabs li button {
    background-color: var(--tertiary);
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.1s ease;
}

.Tabs li button:hover {
    background-color: var(--secondary);
}

/* Tab name section styles */
.TabNameSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--secondary);
}

.TabNameSection h2 {
    margin-right: 10px;
}

/* Button styles */
.AddButton, .TextTools button, .TextTools select, .TextEditorHide button {
    background-color: var(--secondary);
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    transition: 0.1s ease;
}

.TextEditorHide button:hover {
    background-color: var(--tertiary);
}

.IncreaseButton, .DecreaseButton {
    background-color: var(--secondary);
    color: var(--tertiary);
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.1s ease;
}

.AddButton:hover {
    background-color: var(--tertiary);
}

/* Workspace styles */
.workspace {
    flex-grow: 1;
    background-color: var(--workspace);
    position: relative;
}

.TimelineInstance.hidden {
    display: none;
}

.TimelineTabs {
    background-color: var(--primary);
}

.TimelineTabs button {
    background-color: var(--workspace);
    color: black;
    border: none;
    padding: 5px;
    border-radius: 3px 3px 0 0;
    transition: 0.1s ease;
}

.TimelineTabs button:hover {
    background-color: var(--workspaceHover);
}

.TimelineTabs button.active {
    background-color: var(--workspaceSelectedTab);
    color: #000000;
    font-weight: bold;
}

/* Text editor styles */
.TextEditor {
    background-color: var(--primary);
    padding: 20px;
    width: 600px;
    transition: transform 0.3s ease-in-out;
    z-index: 2;
}

.TextEditor.hidden {
    display: none;
}

.TextEditorTitle, .TextTools {
    border-bottom: 2px solid var(--secondary);
}

.TextEditorTitle h1 {
    margin-bottom: 15px;
    color: var(--primaryText);
}

.TextTools {
    padding-top: 5px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: var(--secondary);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-bottom: 2px solid var(--secondary);
    padding-bottom: 10px;
}

.TextTools ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.TextTools ul li {
    display: inline-block;
    margin-right: 0;
}

.TextTools select,
.TextTools input,
.TextTools button {
    background-color: transparent;
    padding: 5px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    transition: 0.1s ease;
}

.TextTools button:hover,
.TextTools select:hover,
.TextTools input:hover {
    background-color: var(--tertiary);
}

.FontSizeControl input {
    width: 25px;
    background: transparent;
    color: white;
}

.FontSizeControl {
    display: flex;
    align-items: center;
}

.FontSizeControl button {
    border: none;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

/* Text editor content styles */
.TextEditorContent {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 200px;
    margin-top: 10px;
}

.TextEditorHide {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

/* Hotbar styles */
.Hotbar {
    background-color: transparent;
    padding: 10px;
    z-index: 10;
    display: flex;
    justify-content: center;
}

.HotbarButton {
    background-color: var(--secondary);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.1s ease;
}

.HotbarButton:hover {
    background-color: var(--tertiary);
}

/* Node container styles */
.nodeContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.node {
    width: 50px;
    height: 50px;
    background-color: var(--coreColour);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease;
}

.nodeName {
    color: #000000;
    text-align: center;
    user-select: none;
    margin-top: 5px;
}

.nodeNameInput {
    width: 60px;
    z-index: 2;
}

.nodeContainer.selected .node {
    background-color: var(--selectedCoreColour);
    transform: scale(1.25);
}

/* Line styles */
.line {
    pointer-events: none; /* Ensure the line does not interfere with node interactions */
}

/* Tab content section styles */
.TabContentSection {
    padding: 10px;
}

.ContentButtonContainer {
    background-color: var(--secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: 0.1s ease;
}

.ContentButtonContainer:hover {
    background-color: var(--tertiary);
}

.ContentButton {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.RemoveContent {
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

/* Responsive design styles */